#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // | f2  | prv | pau | nxt | nxt | nxt | nxt | nxt | nxt | nxt | nxt | nxt |
            // | vup |  7  |  8  |  9  | nxt | nxt | nxt | nxt | nxt | nxt | nxt |
            // | vdn |  4  |  5  |  6  | nxt | nxt | nxt | nxt | nxt | nxt |
            // | mut |  1  |  2  |  3  |
            // | mFN | bkp |  0  | ent |

            bindings = <
&kp ESC    &kp S  &kp R    &kp T      &kp J  &kp I   &kp O      &kp BSPC
&kp TAB    &kp W  &kp E    &kp G      &kp U  &kp K   &kp P      &kp SEMI
&kp LSHFT  &kp Q  &kp D    &kp F      &kp Y  &kp M   &kp L      &kp DOT
&kp N1     &kp A  &kp ESC  &kp V      &kp H  &kp N   &kp COMMA
&kp N2     &kp Z  &kp X    &kp SPACE  &kp B  &kp N3  &kp N4
            >;
        };
    };
};
